name: your-workflow-name
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file ../serveur/Dockerfile --tag 'abou':latest
   

